header{
  text-align: center;
  weight: 1280px;
  background-image: url("images/header.jpg");
  background-position: 0 35%;
  padding: 10em 0;

}

body{
  max-width: 1280px;
  margin: auto;
  color:rgba(52, 73, 97,1);
}

p{
  font-size:1.3em;
}

header h1 {
  font-size: 4em;
  color: rgba(52, 73, 97,1);
  margin: 0;
}


 h2 {
  font-size: 2em;
  color:rgba(80, 91, 25,1)
}

/* Naviagtion einfügen */

#menu {
  font-size:14px;
  position:absolute;
}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0;
  padding:0;

}

#menu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:400px;
  text-align:center;
  background-color: rgba(52, 73, 97, 0.8);
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:15px;
  color:white;
  font-weight:bold;
  text-decoration:none;
  margin:0;
}

.submenu a{
  font-size:12px;
  width:400px;
  position:relative;
  clear:both;
}

#menu a:hover, .topmenu.on a {
  color:white;
  background-color: rgba(80, 91, 25, 0.8); /*rgba(146, 170, 46, 0.7); */
  opacity: 30%;
}

.topmenu:hover ul {
  display:block;
  z-index:500;
}

#map {
  weight:1280px;
  margin: auto;
  height: 70vh;
  border: 3px solid rgba(52, 73, 97,1);

}
